html {
  display: grid;
  min-height: 100%;
}

body {
  background: #252c32;
  display: grid;
  font-family: monospace, sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 100;
}


.first, .second, .third, .fourth, .fifth, .sixth {
  position: absolute;
}

.first {
  top: 7%;
}
.second {
  top: 21%;
}
.third {
  top: 36%;
}
.fourth {
  top: 52%;
}
.fifth {
  top: 65%;
}
.sixth {
  top: 83%;
}



.small {
  margin-left: 20px;
  margin-top: -1px;
  font-family: monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.key {
  position: relative;
  margin: auto;
  width: 500px;
  height: 200px;
}
.espresso {
  background: #5b4644;
  position: absolute;
  left: 17%;
}
.milk {
  background: #dab7a3;
  position: absolute;
  left: 40%;
}
.foam {
  background: #f4e8da;
  position: absolute;
  left: 63%;
}
.water {
  background: #859fb5;
  position: absolute;
  left: 83%;
}