html {
  display: grid;
  min-height: 100%;
}

body {
  background: #252c32;
  display: grid;
  font-family: monospace, sans-serif;
  text-transform: uppercase;
}

h3 {
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 100;
}


.first, .second, .third, .fourth, .fifth, .sixth {
  position: absolute;
}

.first {
  top: 7%;
}
.second {
  top: 21%;
}
.third {
  top: 36%;
}
.fourth {
  top: 52%;
}
.fifth {
  top: 65%;
}
.sixth {
  top: 83%;
}

.info {
  width: 55%;
  height: 100%;
  position: absolute;
  left: 43%;
}

.small {
  margin-left: 20px;
  margin-top: -1px;
  font-family: monospace, sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
}
.key {
  position: relative;
  margin: auto;
  width: 500px;
  height: 200px;
}
.espresso {
  background: #5b4644;
  position: absolute;
  left: 17%;
}
.milk {
  background: #dab7a3;
  position: absolute;
  left: 40%;
}
.foam {
  background: #f4e8da;
  position: absolute;
  left: 63%;
}
.water {
  background: #859fb5;
  position: absolute;
  left: 83%;
}


.doppio {
  top: 5%;
  background: linear-gradient(to bottom, #252c32 40%, #5b4644 40%, #87624f 70%);
}
.americano {
  top: 18.5%;
  background: linear-gradient(to bottom, #252c32 13%, #859fb5 13%, #859fb5 50%, #87624f 50%);
}
.macchiato {
  top: 35%;
  background: linear-gradient(to bottom, #252c32 20%, #f4e8da 20%, #f4e8da 40%, #87624f 40%);
}
.flatwhite {
  top: 50%;
  background: linear-gradient(to bottom, #252c32 10%, #f4e8da 10%, #dab7a3 60%, #87624f 65%, #5b4644 90%);
}
.cappuccino {
  top: 64%;
  background: linear-gradient(to bottom, #f4e8da 50%, #dab7a3 50%, #dab7a3 55%, #87624f 60%);
}
.latte {
  top: 81%;
  background: linear-gradient(to bottom, #252c32 5%, #f4e8da 5%, #f4e8da 30%, #dab7a3 30%, #dab7a3 70%, #87624f 70%);
}